/*navbar*/
.logo img{
    height: auto;
    width:80%;
    margin:auto;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color:#dbc1ac!important;
    opacity: 1;
    padding: 0px;
    margin: 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 20px;
    padding: 0 20px;
  }
.hvr-underline-from-center::before{
  background:black!important;
}
a.nav-link {
  text-align: center;
}
/*line*/ 
hr.line {
    width: 60%;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    font-family: Georgia,Times,"Times New Roman",serif;
    }
    hr.line:after {
    content: "COFFEE LOUNGE";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #FDF9F9;
    }
/*content*/  
.wrap-image .image {
    display: block;
    width: 100%;
    height: auto;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  
  .wrap-image:hover .overlay {
    opacity: 1;
  }
  
  .text-block {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
  }
  /*footer*/
  #lab_social_icon_footer {
    padding: 45px 0;
    background-color: #dbc1ac;
  }
  
  #lab_social_icon_footer a {
    color: #333;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  } 
  #lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  
  #lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  
  #lab_social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  
  #lab_social_icon_footer #social-em:hover {
    color: #f39c12;
  }
.brandfooter {
    text-align: center;
    line-height: 6px;
    margin-top: 6px;
}
.brandfooter img {
    width: 100%;
    height: auto;
}
.rowfooter{
    background-color: #dbc1ac;
}
/*menupage*/
a.flex-sm-fill.text-sm-center.nav-link.hvr-float-shadow {
  color: black;
  font-family: League Gothic;
  font-size: 20px;
}
  hr.line.expreso:after {
    content: "ESPRESSO";
  }
  hr.line.iceblended:after {
    content: "ICE BLENDED";
  }
  hr.line.tea:after {
    content: "TEA";
  }
  hr.line.mocktail:after {
    content: "MOCKTAIL";
  }
  hr.line.chocolate:after {
    content: "CHOCOLATE";
  }
  hr.line.smoothies:after {
    content: "SMOOTHIES";
  }
  hr.line.expreso {
    margin-top: 25px;
}
nav.nav.nav-pills.flex-column.flex-sm-row.menudrink {
  background-color: #967259;
}
.hvr-float-shadow:before {
  top:70%!important;
}
.drinkitem{
  color: #38220F!important;
  margin-top: 40px;
}
.teaitem{
  color: #38220F!important;
  margin-top: -35px;
  font-family: League Gothic;
}
body{
  background-color: #FDF9F9;
  font-family: League Gothic;
}
/*newspage*/
hr.line.newsandevents:after{
  content: "NEWS & EVENTS";
}
button.btn.btn-sm.btn-outline-secondary {
  width: 120px;
}
hr.line.newsandevents {
  margin-top: 20px;
  margin-bottom: 20px;
}
p.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*contactpage*/
.google-maps {
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
hr.line.contact:after {
  content: "CONTACT";
}
button.btn.btn-primary {
  margin-left: 45%;
}
i.fas.fa-map-marked-alt.fa-w-14.fa-5x {
  margin-left: 45%;
  margin-top: 10px;
  color:#333;
}
i.fa.fa-phone-square.fa-w-14.fa-5x {
  margin-left: 45%;
  margin-top: 10px;
  color:#333;
}
.contactinfo p{
  margin-left: 35%;
  font-family: League Gothic;
  font-size: 120%;
}
.contactinfo .iconcontact:hover{
  color:#967259!important;
}
/*about us*/
hr.line.aboutus:after {
  content: "ABOUT US";
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}